

<div class="example-box" style="border-radius: 10px;background-color: black; border-width: 10px thick;
border-style: dashed;color: white;" cdkDrag>

<div class="row">

   <!-- <div class="col-sm-4">HOME</div>
   <div class="col-sm-4">QTR</div>
   <div class="col-sm-4">GUEST</div>
</div>
<div class="row">
      <div class="col-sm-4">42</div>
      <div class="col-sm-4">3</div>
      <div class="col-sm-4">43</div>

</div> -->
<table style="height: 290px;width: 290px;color: yellow;font-size: xx-large;">
<tr style="height: 30%">
      <td>Home</td>
      <td>QTR</td>
   <td>GUEST</td>
</tr>   
<tr>
<td> {{SocrePointHome}}</td>
      <td>1</td>
   <td>{{ScorePointGuest}}</td>
   </tr>
</table>
   
  </div>


  